/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Version: 2.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@import 'pages/dashboard';
@import './pages/login';

.circular-progress-container {
	position: relative;
	width: 200px;
	height: 200px;
}

.circular-progress {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 10px solid #e9ecef;

	&::before {
		content: '';
		position: absolute;
		top: -10px;
		left: -10px;
		right: -10px;
		bottom: -10px;
		border-radius: 50%;
		border: 10px solid;
		border-color: #28c76f #28c76f transparent transparent;
		transform: rotate(45deg);
	}
}

.circular-progress-value {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.progress-bar {
	height: 8px;
	border-radius: 4px;

	&-primary {
		background-color: #7367f0;
	}

	&-warning {
		background-color: #ff9f43;
	}

	&-success {
		background-color: #28c76f;
	}
}

.navbar-custom {
	border-left: 2px solid #ebe9f1;
	font-weight: 600;
	height: 28px !important;
	display: flex;
	align-items: center;
	border-radius: 2px;
	padding: 0 8px;

	&.navbar-custom-fisrt {
		border-left-width: 0px !important;
	}
}

.navbar-custom:hover {
	background-color: rgba(115, 103, 240, 0.1);
}