@import '../bootstrap-extended/include'; // Bootstrap includes
@import '../components/include'; // Components includes

$auth-1-inner-max-width: 400px !default;

.auth-wrapper {
  display: flex;
  flex-basis: 100%;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;

  .auth-inner {
    width: 100%;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
  }

  &.auth-basic {
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    .auth-inner {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
      
      &:before {
        content: '';
        position: absolute;
        top: -50px;
        right: -50px;
        background-image: linear-gradient(45deg, #7367f0, #9e95f5);
        width: 100px;
        height: 100px;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }

  .auth-bg {
    background-color: white;
  }

  .brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
    
    img {
      margin-right: 0.5rem;
    }
    
    h2.brand-text {
      font-weight: 600;
      margin-bottom: 0;
    }
  }

  .auth-footer-btn {
    .btn {
      padding: 0.6rem !important;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  .auth-login-form {
    .form-label {
      margin-bottom: 0.6rem;
      font-size: 0.875rem;
      font-weight: 500;
    }

    .input-group {
      .input-group-text {
        padding: 0.438rem 1rem;
      }
    }

    .divider {
      margin: 2rem 0;
      text-align: center;
      position: relative;
      
      .divider-text {
        background-color: white;
        padding: 0 1rem;
        position: relative;
        z-index: 1;
        font-size: 0.8rem;
        color: #b9b9c3;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ebe9f1;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .auth-wrapper .auth-inner {
    padding: 0;
  }
}
